# Необходимые переменные
S3_ENDPOINT=https://s3.endpoint.s3storage.com
S3_AVATARS=https://bukket_uuid.s3storage.com
S3_ACCESS=s3AccESsKeyForEXamPLE
S3_SECRET=s3SecRetKeYfORexAmPle
S3_BUKKET=s3_bukket_name

JWT_SECRET=FaKEEncRYpTKeyFoRexAmPlE==

# Настройки безопасности (опционально)
REFRESH_TOKEN_MAX_AGE=604800
ACCESS_TOKEN_MAX_AGE=900
JWT_ALGORITHM=HS256

PASSWORD_ROUNDS=12
PASSWORD_PEPPER=spicy_peper

COOKIE_SECURE=True
COOKIE_SAMESITE=lax

# Настройки баз данных (опционально)
POSTGRES_USER=admin
POSTGRES_PASS=admin
POSTGRES_HOST=database
POSTGRES_BASE=users_db

MONGO_USER=admin
MONGO_PASS=admin
MONGO_HOST=messagebase:27017
MONGO_NAME=messages_db
MONGO_DISCONECT_TIMEOUT=5

# Дополнительно (опционально)
API_URL=http://localhost    # адрес backend/proxy (передаётся на frontend)
MAX_AVATAR=5242880          # максимальный размер аватара в байтах
WORKERS_COUNT=8             # максимально воркеров при шифровании паролей (многопоток)