@font-face {
    font-family: 'Inter';
    src: url(font/Inter-V.ttf);
}

body {
    position: relative;
    overflow: hidden;
    perspective: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #7E7E7E;
}

#header_name {
    font-size: 160px;
    font-family: Inter;
    
    color: #FFFFFF;
}

#content_main {
    width: 50%;
    max-width: 700px;
    
    border-radius: 25px;
    
    background-color: #D9D9D9;
}

#header {
    margin-top: 4vh;
    margin-bottom: 1vh;
    
    font-size: 48pt;
    font-family: Inter;
    text-align: center;
}

#error {
    text-align: center;
    
    font-size: 15pt;
    font-weight: 200;
    font-family: Inter;
    color: red;
}

.main, #content_main {
    display: flex;
    flex-direction: column;
}


.entry {
    height: 5vh;   

    margin: 0px 1vw;
    padding: 0px 0.5vw 0px 0.75vw;
    border-radius: 35px;

    align-items: center;
    
    font-family: Inter;
    font-size: 16pt;
    
    background-color: #FFFFFF;
}

.entry + .entry {
    margin-top: 3vh;
}

.entry::placeholder {
    align-items: start;
    
    font-size: 14pt;
    
    color: #707070;
    
}

.entry:focus {
    padding: 0px 0.5vw 0px 0.75vw;

    outline: #FFFFFF;
    font-size: 16pt;
}

#reset_password {
    margin-right: 1vw;
    padding-top: 1vh;
    
    font-family: Inter;
    text-align: end;
    
    cursor: pointer;
}

.btn {
    padding: 1vh 1.75vw;
    border-color: #FFFFFF;

    align-self: center;

    font-family: Inter;
    font-size: 20pt;
    color: #5E5E5E;
    text-decoration: underline;
        
    background-color: #D9D9D9;
    
    cursor: pointer;
}

.active {
    margin-top: 2vh;
    border-radius: 30px;
    
    font-size: 20pt;
    color: #000000;
    text-decoration: none;
    
    background-color: #FFFFFF;
    
    transition: all 0.3s ease;
}

.active:hover {
    padding: 1vh 2.5vw;
    
    background-color: #c5c5c5;
}

input {
    border-width: 0px;
    border-color: #FFFFFF;
}

div.W1tish {
    position: absolute;
    z-index: -1;

    width: 3500px;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    user-select: none; 
    
    transform:  rotateZ(45deg);
}

div.W1tish p {
    font-family: Inter;
    font-size: 8vw;
    color: #777777;
    
    animation-play-state: running;
    animation: xxx 2s linear infinite both;
}

@keyframes xxx {
    0% {
        transform: translateY(0em);
    }
    100% {
        transform: translateY(-1.225em);
    }
}


