/* ---------Создание чата--------- */


#add_new_chat {
    padding: 10px 15px 10px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    background-color:#666666;
    color: #FFFFFF;
    
    cursor: pointer;
    
    transition: all 0.3s ease;
}

#add_new_chat:hover {
    padding: 12px 17px 12px 22px;

    background-color: #ffffff;
    color: #666666;
}

#add_chat {
    width: 25%;
    min-width: 360px;
    height: auto;
    
    padding: 1%;
    border-radius: 25px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    
    background-color: #D9D9D9;
}

#input_id {
    width: auto;
    
    margin: 0px 1%;
    padding: 4% 5%;
    border-radius: 20px;
    border-width: 0px;
    
    font-size: 12pt;
    outline: 0px;
}   


#add_btn, #send_invitation {
    width: fit-content;
    height: fit-content;
    
    margin: 3% 3% 1% 3%;
    padding: 3% 4%;
    border-radius: 25px;    
    border-width: 0px;
    
    align-self: flex-end;
    
    font-family: Inter;
    
    cursor: pointer;
    
    transition: padding 0.3s ease, background-color 0.3s ease;
}

#add_btn:hover, #send_invitation:hover {
    padding: 3% 5%;
    
    background-color: #9D9D9D;
}

#close_btn, #close_btn_settings {
    align-self: flex-end;
}

p#add_chat {
    width: fit-content;
    
    margin-bottom: 2%;
    
    font-family: Inter;
    font-size: 20pt;
}

#contaiter_input_add_chat {
    gap: 20px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#btn_add_chat {
    width: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#add_users {
    gap: 10px;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.added_user {
    width: fit-content;
    height: fit-content;
    
    padding: 10px 7%;
    border-radius: 15px;
    border: 1px solid #9D9D9D;
    gap: 10%;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    
    font-family: Inter;
    font-size: 12pt;
    
    background-color:#C9C9C9;

}

#add_text {
    margin-left: 20px;
}