/* ---------Настройки----------- */


#settings {
    position: absolute;
    
    width: 60vw;
    height: 80vh;
    
    padding: 1.5%;
    border-radius: 20px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    font-family: Inter;
    
    background-color: #C9C9C9;
}

#setting_header {
    height: 63vh;
    
    gap: 2%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#setting_avatar, #setting_user_info {
    gap: 10px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#setting_avatar_user {
    width: 256px;
    height: 256px;
    
    border-radius: 10px;
}

#leave_account {
    display: flex;
    justify-content: flex-end;
}

#nickname_user {
    font-size: 2vw;
}

#setting_nickname {
    margin-right: 2vw;
    gap: 0.5vw;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#btn_leave_account{
    width: fit-content;
    
    border-radius: 15px;
    border-width: 0px;
    
    font-size: 12pt;
    font-family: Inter;

    cursor: pointer;
    
    background-color: #FFFFFF;
    
    transition: padding 0.3s ease, background-color 0.3s ease;
}

#btn_leave_account:hover{
    background-color: #9D9D9D;
}

#btn_leave_account {
    padding: 2%;
}

#btn_leave_account:hover {
    padding: 2% 3%;
}

#edit_avatar {
    position: absolute;
    z-index: -1;

    width: 256px;
    height: 256px;

    display: block;

    color: transparent;
    background-color: transparent;

    transition: background-color 0.3s ease-in, z-index 0.3s ease-in;
}

input[type="file"], input[type=file]::file-selector-button {
    font-size: 0pt;
    border-width: 0px;
    outline: 0px;
    background-color: rgba(213, 213, 213, 0.5);
    
}

#logo_edit_avatar {
    position: absolute;
    
    align-self: center;
    z-index: -1;
    background-color: transparent;
    transition: background-color 0.3s ease-in, z-index 0.3s ease-in;
}

#setting_avatar:hover #edit_avatar, #setting_avatar:hover #logo_edit_avatar {
    z-index: 100;
    cursor: pointer;
    background-color: rgba(213, 213, 213, 0.5);
}

#setting_nickname, #edit_nickname_input {
    background-color: #FFFFFF;
    border-radius: 30px;
    border-width: 0px;
    outline: 0px;
    padding: 1vh 1vw;
}

#edit_nickname_input {
    padding: 2vh 1vw;
    font-size: 2vw;
}


