/* ---------Настройки----------- */


#settings {
    position: absolute;
    
    width: fit-content;
    min-width: 50%;
    height: fit-content;
    min-height: 80%;
    
    padding: 1.5%;
    border-radius: 20px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    font-family: Inter;
    
    background-color: #C9C9C9;
}

#setting_header {
    height: 63vh;
    
    gap: 2%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#setting_avatar, #setting_user_info {
    gap: 10px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#setting_avatar_user {
    width: 256px;
    height: 256px;
    
    border-radius: 10px;
}

#leave_account {
    display: flex;
    justify-content: flex-end;
}

#nickname_user {
    font-size: 32pt;
}

#setting_nickname {
    gap: 2%;
    
    display: flex;
    flex-flow: row nowrap;
}

#btn_leave_account, input[type=file]::file-selector-button  {
    width: fit-content;
    
    border-radius: 15px;
    border-width: 0px;
    
    font-size: 12pt;
    font-family: Inter;

    cursor: pointer;
    
    background-color: #FFFFFF;
    
    transition: padding 0.3s ease, background-color 0.3s ease;
}

#btn_leave_account:hover, input[type=file]::file-selector-button:hover {
    background-color: #9D9D9D;
}

#btn_leave_account {
    padding: 2%;
}

#btn_leave_account:hover {
    padding: 2% 3%;
}

input[type=file]::file-selector-button {
    padding: 5%;
}

input[type=file]::file-selector-button:hover {
    padding: 5% 6%;
}

#edit_avatar {
    color: transparent;
}