@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url(./assets/font/Inter-V.ttf);
}

@theme {
    --color-plate-bg: #7E7E7E;
    --color-text-bg: #777777;

    --color-plate-accent: #D9D9D9;
    --color-plate-muted: #FFFFFF;
    
    --color-plate-hover: #AAAAAA;

    
}

:root {
    --color-notification-error-plate: #d4abab;
    --color-notification-error-text: #b52222;
    --color-notification-success-plate: #bad4ab; 
    --color-notification-success-text: #31b522;
}

#root {
    font-family: "Inter";
}

body {
    background-color: var(--color-plate-bg);
}
