@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url(./assets/font/Inter/Inter-V.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(./assets/font/Jost/Jost-VariableFont_wght.ttf);
}

@theme {
    --color-plate-bg: #f3f3f3;
    --color-text-bg: #e5e5e5;
    --color-title: #4d4d4d;

    --color-border: #E6E6E6;

    --color-plate-accent: #F8F8F8;
    --color-plate-muted: #FFFFFF;
    
    --color-plate-hover: #E5E5E5;

    --color-danger-zone: #FF9C9C;
}

:root {
    --color-notification-error-plate: #d4abab;
    --color-notification-error-text: #b52222;
    --color-notification-success-plate: #bad4ab; 
    --color-notification-success-text: #31b522;
}

#root {
    font-family: "Inter";
}


